* {
  margin: 0;
  padding:0;
}

body {
  width: 70%;
  margin: 0 auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 15px;
  font-family: 'Manjari', Times, sans-serif;
  background-color: rgba(212, 210, 129, 0.418);
  border-bottom: 2px solid black;
}

              /* -----HEADER----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(238, 203, 203);
}

header h2,
nav ul li {
  display: inline-block;
  margin: 15px;
  border: none;
  background-color: rgb(238, 203, 203);
}

nav ul li {
  margin-top: 17px;
}

              /* -----MAIN----- */
section.title-and-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

h1 {
  font-size: 30px;
  font-family: 'Manjari', Times, sans-serif;
  text-transform: uppercase;
}

main section.title img {
  border: 1px solid black;
  border-radius: 50%;
}

section.contacts {
  padding: 25px;
  text-align: end;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(238, 203, 203);
}

section.contacts h2 {
  border: none;
  background-color: rgb(238, 203, 203);
  border-bottom: 2px solid black;
}

section.contacts ul li {
  margin: 5px 0;
  list-style: none;
}

section.summary {
  padding: 15px 15px;
}

section.summary p {
  padding-top: 10px;
  line-height: 25px;
  text-indent: 25px;
}

section.skills {
  padding: 5px 15px;
}

section.technologies {
  display: flex;
  justify-content: start;
}

section.technologies section {
  margin: 15px 60px;
  padding: 10px 10px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(240, 232, 221);
}

section.technologies ul li {
  display: inline-block;
  text-align: center;
  margin: 8px;
  list-style: none;
}

section.education {
  padding: 15px;
}

section.education ul {
  margin-left: 40px;
}

section.education ul li {
  margin: 10px;
}

section.experience {
  padding: 15px;
}

section.experience p {
  line-height: 25px;
  text-indent: 25px;
}

section.english-level {
  padding: 15px;
}

section.english-level p {
  margin-left: 25px;
}

section.english-level ul {
  margin-left: 80px;
}

section.english-level ul li{
  margin: 10px;
}

footer{
  padding: 5px 15px 5px 15px;
}

section.title-and-contacts,
section.english-level,
section.summary,
section.skills,
section.education,
section.experience{
  margin: 5px;
  border-bottom: 1px solid #808080;
}
